@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dancing+Script&family=Inria+Serif:wght@300&family=Inter:wght@300;400&family=Italiana&family=Italianno&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=K2D:wght@300&family=Lato:wght@400;700;900&family=Mulish:ital,wght@1,1000&family=Noto+Sans+Thai:wght@100..900&family=Noto+Serif+JP&family=Oswald&family=Raleway&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&family=Source+Sans+3&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Righteous&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fira+Code:wght@300..700&family=Righteous&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Banery';
    src: url('/public/fonts/Banery/BaneryRegular-mLg8j.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .my-masonry-grid {
    display: flex;
    margin-left: -30px; /* Adjust based on your grid gap */
    width: auto; /* Ensure the width is auto */
  }
  
  .masonry-item {    
    margin-left: 30px; /* Same as the negative margin above */
    margin-bottom: 30px; /* Space between items */
    width: calc(53.333% - 30px); /* Adjust width based on desired columns */
    box-sizing: border-box; /* Ensure padding/margins are included in width */
  }
 
.image-style img {

  border-radius: 0.375rem;
}